apiVersion: apps/v1
kind: Deployment
metadata:
  name: netflix-app
  namespace: webapps
  labels:
    app: netflix-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: netflix-app
  template:
    metadata:
      labels:
        app: netflix-app
    spec:
      containers:
      - name: netflix-app
        image: adarshjain428/netflix:v2
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: netflix-app
  namespace: webapps
  labels:
    app: netflix-app
spec:
  type: LoadBalancer
  selector:
    app: netflix-app
  ports:
  - port: 80
    targetPort: 80

# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: node-exporter
#   namespace: webapps
# spec:
#   selector:
#     app: node-exporter
#   ports:
#   - name: node-exporter
#     protocol: TCP
#     port: 9100
#     targetPort: 9100
#   type: NodePort
